/* Move down content because we have a fixed navbar that is 50px tall */
html, body {
  height: 100%;
  margin: 0;
  padding-top: 50px;
}

.container {
  min-height: 100%;
  margin-bottom: -50px;
}

footer, .push {
  height: 50px;
}

.flag {
	width: 300px;
}